:root {
  --padding: 1em;
  --padding-xTotal: 2em;
  --row-gap: 1em;
  --column-gap: 1em;

  --min-app-width: 375px;
  --max-app-width: 1650px;

  --min-input-width: 300px;
  --ideal-input-width: calc(100% - var(--padding));
  --max-input-width: 400px;

  --min-card-width: calc(var(--min-app-width) - var(--padding-xTotal));
  --ideal-card-width: calc(100% - var(--padding-xTotal));
  --max-card-width: 375px;

  --min-summary-card-width: calc(var(--min-app-width) - var(--padding-xTotal));
  --ideal-summary-card-width: calc(100% - var(--padding));
  --max-summary-card-width: calc(var(--max-card-width) + var(--max-card-width));

  --min-register-card-width: calc(var(--min-app-width) - var(--padding-xTotal));
  --ideal-register-card-width: calc(100% - var(--padding));
  --max-register-card-width: 900px;

  --min-login-card-width: calc(var(--min-app-width) - var(--padding-xTotal));
  --ideal-login-card-width: calc(100% - var(--padding));
  --max-login-card-width: calc(var(--max-input-width) + var(--padding));

  --min-stepper-card-width: 200px;
  --ideal-stepper-card-width: calc(100% - var(--padding));
  --max-stepper-card-width: 350px;

  --min-chart-controls-card-width: calc(
    var(--min-app-width) - var(--padding-xTotal)
  );
  --ideal-chart-controls-card-width: calc(100% - var(--padding));
  --max-chart-controls-card-width: calc(
    var(--max-input-width) + var(--padding)
  );

  --min-directory-card-width: 250px;
  --ideal-directory-card-width: calc(100% - var(--padding));
  --max-directory-card-width: 350px;

  --app-header-height: 70px;
  --dashboard-header-height: 130px;
  --dashboard-header-height-mobile: 70px;
  --metrics-header-height: 100px;
  --metrics-header-height-mobile: 70px;
  --chart-controls-header-height: 70px;

  --sidebar-width: 225px;
  --sidebar-padding: 2em;
}

.app-shell {
  width: clamp(var(--min-app-width), 100vw, var(--max-app-width));
  display: flex;
}

.main {
  display: flex;
  width: 100%;
}

.burger {
  display: none;
}

.accessible-input {
  width: clamp(
    var(--min-input-width),
    var(--ideal-input-width),
    var(--max-input-width)
  );
}

.dashboard-bar-line-layout {
  padding: var(--padding);
}

.login-card {
  width: clamp(
    var(--min-login-card-width),
    var(--ideal-login-card-width),
    var(--max-login-card-width)
  );
}

.directory-card {
  width: clamp(
    var(--min-directory-card-width),
    var(--ideal-directory-card-width),
    var(--max-directory-card-width)
  );
}

.register-card {
  width: clamp(
    var(--min-register-card-width),
    var(--ideal-register-card-width),
    var(--max-register-card-width)
  );
  display: flex;
  outline: 1px solid blueviolet;
}

.chart-card {
  width: 100%;
}

.overview-card {
  width: clamp(
    var(--min-card-width),
    var(--ideal-card-width),
    var(--max-card-width)
  );
}

.statistics-card {
  width: clamp(
    var(--min-card-width),
    var(--ideal-card-width),
    var(--max-card-width)
  );
}

.chart-and-controls {
  width: 100%;
  height: calc(100vh - var(--dashboard-header-height));
  /* display: grid;
  grid-template-rows: 7fr 3fr; */
  display: flex;
  flex-direction: column;
  /* row-gap: var(--row-gap); */
}

.chart-controls {
  /* height: calc(62vh - var(--dashboard-header-height)); */
  height: 50vh;
  overflow-y: scroll;
  width: calc(100% - 1em);
}

.chart-controls-card {
  width: clamp(
    var(--min-chart-controls-card-width),
    var(--ideal-chart-controls-card-width),
    var(--max-chart-controls-card-width)
  );
}

.chart-container {
  height: 50vh;
  width: 100%;
}

.chart-display {
  height: 80%;
  width: 100%;
}

.register-card-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--row-gap);
  padding-top: var(--padding);
}

.register-card-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  justify-content: space-between;
}

.register-form-footer__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepper-sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--row-gap);
}

.stepper-sidebar-header {
  width: 100%;
}

.stepper-sidebar-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  align-items: center;
}

.stepper-card {
  width: clamp(
    var(--min-stepper-card-width),
    var(--ideal-stepper-card-width),
    var(--max-stepper-card-width)
  );
  border-radius: 1em;
  transition: box-shadow 0.17s ease-in-out;
}

.stepper-card.active {
  border-radius: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form-review {
  width: 100%;
  height: 480px;
  overflow-y: scroll;
}

.review-section-container {
  display: flex;
  flex-direction: column;
}

.step-inputs-container {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

.input-section {
  padding: 0.25em 0px;
  display: grid;
  grid-template-columns: 3fr 8fr;
  column-gap: 2em;
  border-radius: 0.38em;
  padding: 0.38em;
}

.input-section.isEven {
  background: hsla(0, 0%, 0%, 0.04);
}

@media screen and (max-width: 640px) {
  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .register-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--padding-xTotal);
  }

  .stepper-card.hidden {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .app-shell {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .header-title {
    display: none;
  }

  .burger {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .sidebar-opened {
    display: flex;
    padding: var(--sidebar-padding);
  }

  .main-sidebar-opened {
    display: none;
  }

  .dashboard-bar-line-layout {
    width: 100vw;
  }

  .overview-with-pie, .overview-without-pie {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  .overview-summary-with-pie, .overview-summary-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    width: clamp(
      var(--min-summary-card-width),
      var(--ideal-summary-card-width),
      var(--max-summary-card-width)
    );
  }

  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    column-gap: var(--column-gap);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1025px) {
  .register-card {
    display: flex;
    column-gap: var(--column-gap);
  }

  .app-shell {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main";
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
    width: var(--sidebar-width);
    padding: var(--sidebar-padding);
  }

  .main {
    grid-area: main;
    width: 100%;
  }

  .overview-with-pie, .overview-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    width: 100%;
  }

  .overview-summary-with-pie, .overview-summary-without-pie {
    display: flex;
    flex-direction: column;

    row-gap: var(--row-gap);
    width: clamp(
      var(--min-summary-card-width),
      var(--ideal-summary-card-width),
      var(--max-summary-card-width)
    );
  }

  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    column-gap: var(--column-gap);
  }

  .pie-chart-card {
    width: 100%;
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1300px) {
  .register-card {
    display: flex;
    column-gap: var(--column-gap);
  }

  .overview-with-pie {
    display: grid;
    grid-template-columns: 3fr 7fr;
    /* display: flex; */
    width: 100%;
    column-gap: 2em;
  }

  .overview-summary-without-pie {
    display: flex;
    flex-direction: column;
    width: clamp(375px, 100%, 768px);
  }

  .overview-summary-with-pie {
    display: flex;
    flex-direction: column;
    width: clamp(325px, 100%, 400px);
  }

  .overview-cards-with-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
  }

  .overview-cards-without-pie {
    display: flex;
  }

  .pie-chart-card {
    width: clamp(350px, 100%, 1024px);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}
