:root {
  --padding: 1em;
  --padding-xTotal: 2em;
  --row-gap: 1em;
  --column-gap: 1em;

  --min-app-width: 375px;
  --max-app-width: 1650px;

  --min-card-width: 300px;
  --ideal-card-width: calc(100% - var(--padding-xTotal));
  --max-card-width: 350px;

  --min-summary-card-width: calc(100% - var(--padding-xTotal));
  --ideal-summary-card-width: calc(100% - var(--padding));
  --max-summary-card-width: calc(
    var(--max-card-width) + var(--max-card-width) + var(--padding)
  );

  --min-chart-controls-card-width: 300px;
  --ideal-chart-controls-card-width: calc(100% - var(--padding));
  --max-chart-controls-card-width: 425px;

  --app-header-height: 70px;
  --dashboard-header-height: 130px;
  --dashboard-header-height-mobile: 70px;
  --metrics-header-height: 100px;
  --metrics-header-height-mobile: 70px;
  --chart-controls-header-height: 70px;

  --sidebar-width: 225px;
  --sidebar-padding: 2em;
}

.app-shell {
  width: clamp(var(--min-app-width), 100vw, var(--max-app-width));
  display: flex;
}

.main {
  display: flex;
  width: 100%;
}

.burger {
  display: none;
}

.dashboard-bar-line-layout {
  padding: var(--padding);
}

.chart-card {
  width: 100%;
}

.overview-card {
  width: clamp(
    var(--min-card-width),
    var(--ideal-card-width),
    var(--max-card-width)
  );
  outline: 1px solid salmon;
}

.statistics-card {
  width: clamp(
    var(--min-card-width),
    var(--ideal-card-width),
    var(--max-card-width)
  );
  outline: 1px solid tomato;
}

.chart-and-controls {
  width: 100%;
  height: calc(100vh - var(--dashboard-header-height));
  /* display: grid;
  grid-template-rows: 7fr 3fr; */
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap);
  outline: 1px solid rebeccapurple;
}

.chart-controls {
  /* height: calc(62vh - var(--dashboard-header-height)); */
  height: 50vh;
  overflow: scroll;
}

.chart-controls-card {
  width: clamp(
    var(--min-chart-controls-card-width),
    var(--ideal-chart-controls-card-width),
    var(--max-chart-controls-card-width)
  );
}

.chart-container {
  height: 50vh;
  width: 100%;
  outline: 1px solid salmon;
}

.chart-display {
  height: 80%;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .app-shell {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .header-title {
    display: none;
  }

  .burger {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .sidebar-opened {
    display: flex;
    padding: var(--sidebar-padding);
  }

  .main-sidebar-opened {
    display: none;
  }

  .dashboard-bar-line-layout {
    width: 100vw;
  }

  .overview-with-pie, .overview-without-pie {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    outline: 1px solid gold;
  }

  .overview-summary-with-pie, .overview-summary-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    width: clamp(
      var(--min-summary-card-width),
      var(--ideal-summary-card-width),
      var(--max-summary-card-width)
    );
    outline: 1px solid teal;
  }

  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    column-gap: var(--column-gap);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1025px) {
  .app-shell {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main";
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
    width: var(--sidebar-width);
    padding: var(--sidebar-padding);
  }

  .main {
    grid-area: main;
    width: 100%;
  }

  .overview-with-pie, .overview-without-pie {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
    width: 100%;
  }

  .overview-summary-with-pie, .overview-summary-without-pie {
    display: flex;
    flex-direction: column;
    outline: 1px solid maroon;
    row-gap: var(--row-gap);
    width: clamp(
      var(--min-summary-card-width),
      var(--ideal-summary-card-width),
      var(--max-summary-card-width)
    );
  }

  .overview-cards-with-pie, .overview-cards-without-pie {
    display: flex;
    column-gap: var(--column-gap);
  }

  .pie-chart-card {
    width: 100%;
    outline: 1px solid gold;
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1300px) {
  .overview-with-pie .overview-without-pie {
    display: grid;
    grid-template-columns: 3fr 7fr;
    outline: 1px solid teal;
    width: 100%;
    column-gap: var(--column-gap);
  }

  .overview-summary-with-pie, .overview-summary-without-pie {
    outline: 1px solid rebeccapurple;
    display: flex;
    width: clamp(
      var(--min-summary-card-width),
      var(--ideal-summary-card-width),
      var(--max-summary-card-width)
    );
    row-gap: var(--row-gap);
  }

  .overview-cards-without-pie, .overview-cards-with-pie {
    display: flex;
    column-gap: var(--column-gap);
  }

  .statistics-elements-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
    justify-content: flex-start;
  }
}
