:root {
  --app-header-height: 70px;
  --dashboard-header-height: 130px;
  --dashboard-header-height-mobile: 70px;
  --metrics-header-height: 100px;
  --metrics-header-height-mobile: 70px;

  --min-app-width: 375px;
  --max-app-width: 1650px;
  --min-card-width: 350px;
  --max-card-width: 640px;
}

body {
  width: clamp(var(--min-app-width), 100vw, var(--max-app-width));
}

.app-shell {
  width: 100%;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .app-shell {
    display: flex;
    flex-direction: column;
  }

  .header-title {
    display: none;
  }

  .burger {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .sidebar-opened {
    display: flex;
    padding: 2em;
  }

  .main-sidebar-opened {
    display: none;
  }
}

/* .app-shell {
  width: clamp(375px, 100vw, 1650px);
}

.mantine-header {
  width: clamp(375px, 100vw, 1650px);
}

.main-outlet {
  width: 100%;
  display: grid;
  place-items: center;
} */

/* .overview-and-pie {
  width: 100%;
}

.pie-chart-card {
  width: clamp(350px, 100vw, 640px);
  margin: 0 auto;
}

.overview-card {
  width: clamp(350px, 100vw, 768px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 1em;
  outline: 1px solid gold;
}

.overview-cards {
  display: flex;
  gap: 2em;
}

@media (max-width: 900px) {
  .overview-and-pie {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .pie-chart-card {
    width: 100%;
    margin: 0 auto;
  }

  .overview-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (min-width: 1300px) {
  .overview-and-pie {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
  }

  .pie-chart-card {
    width: 100%;
  }

  .overview-card {
    width: 400px;
  }

  .overview-cards {
    display: flex;
    flex-direction: column;
  }

  .chart-and-controls {
    display: flex;
    width: 100%;
    height: calc(100vh - 120px);
  }

  .chart-controls {
    overflow-y: scroll;
    width: 33%;
    outline: 1px solid teal;
    padding-left: 0.5em;
    padding-bottom: 1em;
  }

  .chart-container {
    outline: 1px solid goldenrod;
    width: 67%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chart-display {
    width: 100%;
    height: clamp(250px, 50%, 500px);
  }
} */
